.bodywrap > header
	display flex
	justify-content center
	align-items center
	height 100px

	.container
		display flex
		justify-content space-between
		width content-width

		#logo
			hide-text()
			
			background transparent url('http://www.constructionenquirer.com/wp-content/uploads/bob.png') no-repeat -46px -17px
			width 170px
			height 99px
			display block
		
		.links
			display flex
			justify-content center
			align-items center

			a
				display block
				padding 0 spacing-x-small
				
				:hover
					text-decoration underline

				&:first-child
					border-right 1px solid color-blue-aluminium 
